.App-Container {
    max-width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;

    background: #e9ecef;
}

.App-Wrapper {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
